{% load my_tags %}

<nav>
    <ul>
        {% if page_obj.has_previous %}
            <li>
                <a href="?{% param_replace page=page_obj.previous_page_number %}">Anterior</a>
            </li>
        {% endif %}

        <li class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </li>

        {% if page_obj.has_next %}
            <li>
                <a href="?{% param_replace page=page_obj.next_page_number %}">Próxima</a>
            </li>
        {% endif %}
    </ul>
</nav>