{% extends 'base.html' %}
{% load bootstrap_icons %}

{% block title %}{{ topic.get_title }}{% endblock %}

{% block content %}
    <div>
        {% include 'search.html' with search_form=search_form %}

        <div class="my-5">
            <h1 class="mb-3">{{ topic.get_title }}</h1>
            {% if not public %}
            <div class="d-flex gap-2 align-items-center">
                <a href="{% url 'update_topic' topic.pk %}">
                    {% bs_icon 'pencil-square' size='1.25rem' %}
                </a>

                <button type="button" class="btn btn-link p-0 d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_topic{{ topic.pk }}">
                    {% bs_icon 'trash3-fill' size='1.25rem' extra_classes='text-danger' %}
                </button>
                
                <div class="modal fade" id="delete_topic{{ topic.pk }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title fs-5" id="staticBackdropLabel">Tem certeza que deseja excluir o tópico "{{ topic.get_title }}"?</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
                                <form action="{% url 'delete_topic' topic.pk %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Confirmar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <a href="{% url 'new_entry' topic.pk %}">
                    {% bs_icon 'plus-lg' size='1.25rem' %}
                </a>
            </div>
            {% else %}
                <div class="d-flex gap-2">
                    <p class="m-0"><span class="text-primary fw-bold">Criado por: </span>{{ topic.owner.get_full_name }}</p>
                    {% if user.is_authenticated %}

                    <button type="button" class="btn btn-link p-0 d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#copy_topic{{ topic.pk }}">
                        {% bs_icon 'clipboard-fill' size='1.25rem' %}
                    </button>
                    
                    <div class="modal fade" id="copy_topic{{ topic.pk }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title fs-5" id="staticBackdropLabel">Tem certeza que deseja copiar o tópico "{{ topic.get_title }}"?</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
                                    <form action="{% url 'copy_topic' pk=topic.pk %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Confirmar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div>
            {% for entry in entries %}
                <div class="card mb-4 p-0">
                    <div class="card-header d-flex align-items-md-center flex-md-row flex-column p-3">
                        <p class="d-flex m-0">{{ topic.date_added }}</p>
                        {% if not public %}
                            <div class="d-flex align-items-center ms-md-auto gap-2">
                                <a href="{% url 'update_entry' entry.pk %}">
                                    {% bs_icon 'pencil-square' size='1.15rem' %}
                                </a>

                                <button type="button" class="btn btn-link p-0 d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_entry{{ entry.pk }}">
                                    {% bs_icon 'trash3-fill' size='1.15rem' extra_classes='text-danger' %}
                                </button>
                                
                                <div class="modal fade" id="delete_entry{{ entry.pk }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title fs-5" id="staticBackdropLabel">Tem certeza que deseja excluir o registro "{{ entry.content|truncatechars:20 }}"?</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
                                                <form action="{% url 'delete_entry' entry.pk %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">Confirmar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ entry.content }}</p>
                    </div>
                </div>
            {% empty %}
                <p class="alert alert-danger">
                    {% if search %}
                        Não foram encontrados resultados para: <span class="fw-bold fst-italic">{{ search }}</span>
                    {% else %}
                        Ainda não há registros cadastrados para esse tópico
                    {% endif %}
                </p>
            {% endfor %}
        </div>

        {% include 'pagination.html' with page_obj=page_obj %}
    </div>
{% endblock %}