{% extends 'base.html' %}

{% block title %}Tópicos{% endblock %}

{% block content %}
    <div>
        <h1>Tópicos</h1>

        <form method="get">
            {{ search_form.as_p }}
        </form>

        {% if not public %}
            <a href="{% url 'new_topic' %}">Novo Tópico</a>
        {% endif %}

        <ul>
            {% for topic in topics %}
                <li>
                    <a href="{% if not public %}{{ topic.get_url }}{% else %}{{ topic.get_public_url }}{% endif %}">{{ topic.get_title }}</a>
                </li>
            {% empty %}
                {% if search %}
                    <li>Não foram encontrados resultados para: <b>{{ search }}</b></li>
                {% else %}
                    <li>Ainda não há tópicos cadastrados</li>
                {% endif %}
            {% endfor %}
        </ul>

        {% include 'pagination.html' with page_obj=page_obj %}
    </div>
{% endblock %}