{% extends 'base.html' %}

{% block title %}{{ topic.get_title }}{% endblock %}

{% block content %}
    <div>
        <h1>{{ topic.get_title }}</h1>

        {% if not public %}
            <a href="{% url 'update_topic' topic.pk %}">Atualizar Tópico</a>
            <form action="{% url 'delete_topic' topic.pk %}" method="post">
                {% csrf_token %}
                <button type="submit">Excluir Tópico</button>
            </form>
            <a href="{% url 'new_entry' topic.pk %}">Novo Registro</a>
        {% else %}
            <p><span>Criado por: </span>{{ topic.owner.get_full_name }}</p>
        {% endif %}

        <form method="get">
            {{ search_form.as_p }}
        </form>

        <ul>
            {% for entry in entries %}
                <li>
                    <p>{{ entry.content }}</p>
                    <span>{{ topic.date_added }}</span>
                    {% if not public %}
                        <div>
                            <a href="{% url 'update_entry' entry.pk %}">Atualizar Registro</a>
                            <form action="{% url 'delete_entry' entry.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Excluir Registro</button>
                            </form>
                        </div>
                    {% endif %}
                </li>
            {% empty %}
                {% if search %}
                    <li>Não foram encontrados resultados para: <b>{{ search }}</b></li>
                {% else %}
                    <li>Ainda não há registros cadastrados para esse tópico</li>
                {% endif %}
            {% endfor %}
        </ul>

        {% include 'pagination.html' with page_obj=page_obj %}
    </div>
{% endblock %}